.article-main__pic {
object-fit: cover;
height: 100%;
@media(min-width: $md) {
    height: 256px;
    width: 100%;
  }
}

.article-main {
  height: 256px;
  @media(min-width: $md) {
    width: 66%;
  }
}

.article-header--order {
  @media(min-width: $md) {
    order: 2;
  }
}

.article-main:not(:last-child) {
  margin-bottom: 26px;
    @media(min-width: $md) {
    margin-bottom: 0;
  }
}
