.article-header {
  background-color: $blue;
  color: $main;
  padding: 65px 10px 39px;
  @media(min-width: $md) {
    padding: 40px 32px 43px;
    width: 34%;
    height: 256px;
  }
}

.article-header--white {
  background-image: url(../img/manifest/index/elements/header-white.svg);
  background-position: top;
  background-repeat: no-repeat;
  @media(min-width: $md) {
    background-image: none;
  }
}

.article-header span {
  display: inline-block;
  margin-bottom: 20px;
}

.article-header__subtitle {
  line-height: 20px;
}
