.created-by {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.created-by span {
  margin-right: 15px;
}

.created-by__logo-html {
  display: block;
  background: url(../img/manifest/index/logo/htmlacademy.svg) no-repeat;
  width: 27px;
  height: 34px;

  &:hover,
  &:focus {
    background: url(../img/manifest/index/logo/htmlacademy--hover.svg)
  }

  &:active {
    background: url(../img/manifest/index/logo/htmlacademy.svg) no-repeat;
    opacity: 0.3;
  }
}




