.page-footer {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 23px;
  padding-top: 38px;
  @media(min-width: $md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 38px;
    padding-right: 6%;
    padding-left: 6%;
  }
  @media(min-width: $xl) {
    padding-left: 0;
    padding-right: 0;
    width: 81%;
  }
}

.page-footer__title {
  margin-bottom: 33px;
  @media(min-width: $md) {
    margin: 0;
  }
}
