.reasons {
  text-align: center;
  background-image: url(../img/manifest/index/elements/header-white.svg);
  background-position: top;
  background-repeat: no-repeat;
  @media(min-width: $xl) {
    margin-bottom: 58px;
  }
}
