.services-list {
  @media(min-width: $md) {
    display: flex;
    justify-content: space-between;
  }
}

.service-list__title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.services-list__item{
  background-size: 39px 39px;
  background-repeat: no-repeat;
  background-position:top left;
  padding-left: 48px;
  padding-top: 10px;
  @media(min-width: $md) {
    width: 27%;
    padding: 0;
    padding-top: 92px;
    background-size: 70px 70px;
    background-position:top;
  }
}

.services-list__item:nth-child(2) {
  @media(min-width: $md) {
    order: 3;
  }
}

.services-list__item:not(:last-child){
  margin-bottom: 10px;
    @media(min-width: $md) {
    margin-bottom: 0;
  }
}

.service-list__subtitle {
  line-height: 21px;
}

.services-list__item--house {
  background-image: url(../img/manifest/icons/services_icons/icon-house.svg);
}

.services-list__item--gift {
  background-image: url(../img/manifest/icons/services_icons/icon-gift.svg);
}

.services-list__item--burger {
  background-image: url(../img/manifest/icons/services_icons/icon-burger.svg);
}
