@font-face {
  font-weight: normal;
  font-family: 'PTSans-Regular';
  font-style: normal;
  src: url('../fonts/PTSans/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans/PTSans-Regular.woff') format('woff');
}

@font-face {
  font-weight: bold;
  font-family: 'PTSans-Bold';
  font-style: normal;
  src: url('../fonts/PTSans/PTSans-Bold.woff2') format('woff2'),
    url('../fonts/PTSans/PTSans-Bold.woff') format('woff');
}
