// colors
$main: #fff;
$blue: #81B3D2;
$grey: #EEEEEE;
$hover: #669EC0;
$active: #5496BD;

// fonts
$main-font: 'PTSans-Regular', serif;
$text: #000;
$text-w: #ffffff;

// breakpoints
$xs-max: 575.9px;
$sm: 576px;
$sm-max: 767.9px;
$md: 768px;
$md-max: 991.9px;
$lg: 992px;
$lg-max: 1199.9px;
$xl: 1200px;
$xl-max: 1440px;

// center-wrapper
$sm-c: 540px;
$md-c: 720px;
$lg-c: 992px;
$xl-c: 1140px;

// container
$container-md: 698px;
$container-xl: 1080px;

// logo
$logo: url(../img/manifest/index/logo/logotype-mobile.svg) no-repeat;
$logo-md: url(../img/manifest/index/logo/logotype-tablet.svg) no-repeat;
$logo-xl: url(../img/manifest/index/logo/logotype-desktop.svg) no-repeat;
